@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-fredoka: 'Fredoka', sans-serif;
  --font-baloo: 'Baloo 2', sans-serif;
}
